VITE_FIREBASE_API_KEY=AIzaSyC-iuHRZWAzhCCq76fyFUnf4qvI0hK1C8w
VITE_FIREBASE_AUTH_DOMAIN=uniquem-4366e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=uniquem-4366e
VITE_FIREBASE_STORAGE_BUCKET=uniquem-4366e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1023614587151
VITE_FIREBASE_APP_ID=1:1023614587151:web:76ea373e6e7408de1eee7a
VITE_APPCHECK_SITE_KEY=
